img {
    border-radius: 5px;
    width: 100%;
}

h1 {
    font-size: 6vw;
    font-family: "Playfair Display";
    font-weight: normal;
}

h2 {
    font-size:3vw;
    font-family: "Playfair Display";
    font-weight: normal;
    margin: 1vh 1vw;
    text-align: center;
}

p {
    margin: 1vh 1vw;
    font-size: 1.5vw;
    font-family: 'Didact Gothic';
}

/*div {*/
/*    margin: 0 0 0 0;*/
/*}*/

.prj-btn {
    outline: 0.6vw solid #D3D3D3;
    background-color: #E6E6FA;
    border-radius: 5px;
    margin: 0 0 1vh 1vw;
    text-align: center;
    font-size: 3vw;
    font-family: 'Didact Gothic';
    border: none;
    height: 20vw;
    /*width: 22vw;*/
}

.prj-btn:hover {
    outline: 0.8vw solid #D3D3D3;
}

.prj-h2 {
    padding-top:5vh;
    margin-left: 18vw;
    text-align: left;
    border-bottom: 3px solid #000;
}

.close-btn {
    outline: 0.4vw solid #FFF5EE;
    background-color: #D3D3D3;
    border-radius: 5px;
    text-align: center;
    /*font-size: 1vw;*/
    font-family: 'Didact Gothic';
    border: none;
    float: right;
    margin: 2vh 2vw;
    padding: 5px 15px;
}

.close-btn:hover {
    background-color: #FFF5EE;
}

.header {
    overflow: hidden;
    background-color: #FFF5EE;
    padding: 20px;
    font-family: "Playfair Display";
    border-radius: 5px;
}

.header a {
    color: black;
    text-align: center;
    font-size: 2vw;
    margin: 0px 20px;
    text-decoration: none;
    padding: 10px;
}

.header a:hover {
    background-color: #D3D3D3;
    border-radius: 2px;
}

.header-right {
    float: right;
}

.outer-box {
    background-color: #C3AED6;
    padding: 10px;
}

.inner-box {
    outline: 0.5rem solid #FFF5EE;
    background-color: #C3AED6;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 4rem;
    outline-offset: 0.5rem;
    text-align: center
}

.row {
    display: flex;
}

.column {
    margin-top: 1vh;
    margin-right: 1vw;
}

.left {
    width: 50%;
}

.middle, .right{
    width: 25%;
}

.crop-sq {
    height: 50vh;
    object-fit: cover;
    object-position: 50% 50%;
}

.crop-long {
    height: 101vh;
    object-fit: cover;
    object-position: 50% 50%;
}

.projectPopUp {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
    visibility: hidden;
    background-color: #D3D3D3;
    border-radius: 5px;
    width: 70%;
    transition: background-color 0.3s ease-in-out;
}